.production-and-assembly {
  height: 100%;

  &__header {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #8d8d8d;
    color: #8d8d8d;
  }

  &__header-item {
    width: 50%;
    text-align: center;
    cursor: pointer;
    padding: 8px;
  }

  &__header-item--active {
    border-bottom: 4px solid #255957;
    color: #255957;
  }

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
      width: calc(100% - 96px);
      margin: 64px 0 16px;
      max-width: 280px;
    }

    p {
      color: #8d8d8d;
      margin: 0 32px;
      max-width: 300px;
    }

    button {
      background-color: #781e5d;
      margin-top: 24px;
    }
  }
}
