.shop-buildings {
  color: #8d8d8d;
  position: relative;
  height: 100%;

  &__upgrade-btn {
    margin: 16px auto;
  }

  &__list {
    padding: 8px 16px;
    height: calc(100% - 128px);
    overflow-y: auto;
  }

  &__building {
    display: flex;
    align-items: center;
    margin: 12px;
    cursor: pointer;
    border-radius: 8px;
    padding: 8px;
    min-height: 96px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15), 0 0 0 1px #8d8d8d;

    &:hover,
    &--active {
      color: #781e5d;
      box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15), 0 0 0 2px #781e5d;
    }
  }

  &__building-lock {
    background-color: #eee;
    pointer-events: none;
  }

  &__building-img {
    width: 64px;
    height: 64px;
    margin: 0 16px;
  }

  &__building-name {
    font-weight: 700;
  }

  &__building-description {
    font-size: 14px;
    display: flex;
    align-items: center;

    svg {
      margin-left: 8px;
    }
  }

  &__building-price {
    display: flex;
    align-items: center;
  }

  &__building-coin {
    width: 18px;
    height: 18px;
    margin-left: 8px;
  }

  &__buy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 128px;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #8d8d8d;
    padding: 8px 0 16px;
    background-color: #fff;
    z-index: 2;
    border-radius: 0 0 16px 16px;
  }

  &__buy-img {
    width: 64px;
    height: 64px;
  }

  &__buy-summary,
  &__buy-disabled {
    height: 96px;
  }

  &__buy-disabled {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__buy-summary {
    color: #000;
    align-self: flex-start;
    margin-right: 32px;
  }

  &__buy-btn {
    background-color: #009054;
    color: #fff;
    border-radius: 8px;
    padding: 6px;
    min-width: 128px;
    margin-top: 8px;
    border: none;
    cursor: pointer;

    &:disabled {
      background-color: #b9b9b9;
    }
  }
}
