.button {
  color: #fff;
  background-color: #009054;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  padding: 6px 12px;
  min-width: 128px;
  margin: 8px 0;
  border: none;
  cursor: pointer;

  &--success {
    background-color: #009054;
  }

  &--secondary {
    color: #009054;
    background-color: #fff;
    border: 1px solid #009054;
  }

  &--warning {
    color: #000;
    background-color: rgb(255, 194, 39);
  }

  &--error {
    background-color: #d63f26;
  }

  &--info {
    background-color: #51cbc6;
  }

  &--info-reverse {
    color: #255957;
    background-color: #fff;
  }

  &:disabled {
    background-color: #b9b9b9 !important;
  }
}
