.order-card {
  border: 1px solid #8d8d8d;
  border-radius: 8px;
  margin: 8px;
  overflow: hidden;

  &__offer-count {
    border-radius: 16px;
    color: #fff;
    background-color: #c72f21;
    margin-right: 8px;
    font-size: 12px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }

  &__title {
    background-color: #009054;
    border-bottom: 1px solid #8d8d8d;
    color: #fff;
    font-size: 14px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__body {
    display: flex;
    padding: 8px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 12px;
  }

  &__img {
    width: 64px;
    height: 64px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__count {
    margin-bottom: 4px;
  }

  &__price {
  }

  &__btn-success {
    background-color: #009054;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 2px;
    align-self: flex-end;
    min-width: 96px;
    margin-left: 8px;
    cursor: pointer;
  }

  &__btn-error {
    background-color: #c72f21;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 2px;
    align-self: flex-end;
    min-width: 96px;
    margin-left: 8px;
    cursor: pointer;
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__action-btn {
    background-color: #009054;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 2px;
    align-self: flex-end;
    min-width: 96px;
    margin-left: 8px;
    cursor: pointer;
  }
}

.order-card--warning {
  .order-card {
    &__title {
      background-color: #ffd73b;
      color: #414042;
    }

    &__action-btn {
      background-color: #c72f21;
    }
  }
}

.order-card--error {
  .order-card {
    &__title {
      background-color: #c72f21;
      color: #fff;
    }

    &__action-btn {
      background-color: #009054;
    }
  }
}

.order-tracking {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  &__no-offers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.order-offer {
  border: 1px solid #8d8d8d;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  padding: 12px;
  margin: 8px;
  width: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__body {
    display: flex;
    justify-content: space-between;
  }
}

.order-offer-final {
  &__title {
    font-size: 20px;
    text-align: center;
  }

  &__description {
    text-align: center;
    color: #8d8d8d;
  }

  &__region-info {
    text-align: center;
  }

  &__count {
    text-align: center;
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__action-btns {
    display: flex;
    justify-content: center;
  }

  &__finalize-btn {
    margin-left: 12px;
  }
}
