.left-table {
  grid-column: 5 / 7;
  grid-row: 1 / 4;
  // width: 100%;
  // max-width: 480px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  height: calc(100vh - 128px);
  background-color: #fff;
  position: relative;
  z-index: 9;
  transition: transform 0.3s;

  &--open {
    transform: translateY(calc(-100% + 64px));
  }

  &__header {
    background-color: #255957;
    background: linear-gradient(1.3deg, #205250 1.04%, #368683 98.82%);
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 16px 16px 0 0;
    cursor: pointer;
  }

  &__logo {
    width: 36px;
    height: 36px;
  }

  &__header-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    padding: 8px;
    font-weight: 600;
    cursor: pointer;

    &--active,
    &:hover {
      color: #51cbc6;

      svg {
        fill: #51cbc6;
      }
    }

    &--active {
      border-bottom: 6px solid #51cbc6;
    }
  }

  &__body {
    height: calc(100% - 100px);
    overflow-y: scroll;
  }

  &__close-icon {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    cursor: pointer;
  }
}
