.trade-final {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px;
  position: relative;
  top: 48px;
  height: calc(100% - 48px);
  overflow-y: scroll;

  &__select {
    flex-grow: 0;
  }
}
