.choose-region {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../assets/img/region-background.png");
  background-size: cover;
  overflow: hidden;
  direction: rtl;
  position: relative;
  display: flex;
  color: #fff;

  &__container {
    padding: 32px;
    margin: auto;
    width: 100%;
    max-width: 1440px;
    margin: auto;
  }

  &__title {
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    margin: 0;
    margin-bottom: 8px;
    padding: 0 32px;
  }

  &__description-time-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__time {
    width: 100%;
    text-align: center;
  }

  &__time-value {
    font-size: 48px;
    font-weight: bold;
  }

  &__time-title {
    font-size: 20px;
  }

  &__description {
    font-size: 20px;
    padding: 0 32px;
    max-width: 768px;
  }

  &__regions-wrapper {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
  }

  &__regions-description {
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    max-width: 1024px;
    align-content: center;
    position: relative;
  }
}
