.home {
  width: 100%;
  height: calc(100vh - 64px);

  &__bottom-sheet {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: calc(100% - 100px);
  }
}
