.container {
  border-radius: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  height: 100%;
  width: 25%;
  padding: 16px;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: center;

  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    img {
      margin: 64px 0;
      width: calc(100% - 128px);
      max-width: 240px;
    }

    p {
      margin: 0 16px;
    }
  }

  .subject-image {
    max-width: 100%;
  }

  .title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
  }

  .desc {
    text-align: right;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75rem;
  }

  .info {
    margin-top: auto;
    margin-bottom: 16px;
    width: 100%;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75rem;

    .invest-cost {
      font-size: 1.5rem;
      font-weight: 700;
    }

    .percentage {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 85%;
      margin: auto;
    }

    .bar {
      background-color: #d9d9d9;
      min-height: 20px;
      height: 20px;
      width: 90%;
      margin: auto;
      margin-top: 12px;
      direction: ltr;

      .progress {
        height: 100%;
        background-color: #7e95e0;
      }
    }
  }

  .done {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;

    .icon-container {
      background-color: #009054;
      border-radius: 50%;
      min-width: 32px;
      min-height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 16px;
      }
    }
  }

  .r-and-d-button {
    border-radius: 10px;
    max-width: 220px;
    width: 100%;
    color: white;
    background-color: #7e95e0;
    border: none;
    font-size: 1.25rem;
    padding: 8px 0;
    cursor: pointer;
  }

  .r-and-d-button:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
}
