.number-input {
  display: flex;
  flex-direction: column;
  // align-items: center;
  width: 100%;
  margin: 8px 0;

  &__label {
    margin-bottom: 4px;
  }

  &__body {
    display: flex;
    flex-direction: row;
  }

  &__input {
    flex-grow: 1;
    border-radius: 0 8px 8px 0;
    padding: 6px;
    border: 1px solid #8d8d8d;
    direction: ltr;
  }

  &__invalid {
    border: 2px solid red;
  }

  &__addsub {
    display: flex;
    flex-direction: column;
  }

  &__addsub-button {
    border-radius: 0;
    min-width: 40px;
    padding: 1px;
    margin: 0;
  }

  &__add-button {
    border-radius: 8px 0 0 0;
  }

  &__sub-button {
    border-radius: 0 0 0 8px;
  }
}