$color:#d63f26;
#gamein_container {
  animation: loader 5s cubic-bezier(.8,0,.2,1) infinite;
  height: 200px;
  width: 100px;
  position: absolute;
  top:calc(50% - 20px);
  left:calc(50% - 20px);
}
#line_container {
  height: 200px;
  width: 100px;
  position: absolute;
  top:calc(50% - 20px);
  left:calc(50% - 20px);
}
@keyframes loader {
  40% { transform: rotateX(0deg); }
  50% { transform: rotateX(180deg); }
  90% { transform: rotateX(180deg); }
  100% { transform: rotateX(0deg); }
}
.svg {
position: absolute;
width: 0;
height: 0;
}
#top {
background: $color;
background-size: cover;
-webkit-clip-path: url(#logo_up);
clip-path: url(#logo_up);
  animation: top 5s linear infinite;
  /* border-top: 20px solid #912b2b;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
*/
width: 150px;
height: 100px;
transform-origin: 50% 100%;
}

@keyframes top {
  10% { transform: scale(1);
      transform-origin: 45% 100%; 
     }
  40% { transform: scale(0);
      transform-origin: 45% 100%; 
     }
  50% { transform: scale(0);
      transform-origin: 45% 0%; 
    }
  60% { transform: scale(0);
      transform-origin: 45% 0%;
     }
  90% { transform: scale(1);
      transform-origin: 45% 0%; 
  }
  100% { transform: scale(1);
      transform-origin: 45% 100%; }
}
#bottom {
  background: $color;
background-size: cover;
-webkit-clip-path: url(#logo_down);
clip-path: url(#logo_down);
  animation: bottom 5s linear infinite;
  /* border-top: 20px solid #912b2b;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  
*/
width: 150px;
height: 100px;
/* left:10px; */
  transform: scale(0);
  transform-origin: 50% 100%;
}
@keyframes bottom {
  10% { transform: scale(0); 
      transform-origin: 45% 100%;}
  40% { transform: scale(1);
      transform-origin: 45% 100%; }
  50% { transform: scale(1);
        transform-origin: 45% 0%;
  }
  60% { transform: scale(1); 
      transform-origin: 45% 0%;}
  90% { transform: scale(0);
      transform-origin: 45% 0%; }
  100% { transform: scale(0);
      transform-origin: 45% 100%; }
}
#line {
  animation: line 5s linear infinite;
  border-left: 5px dotted $color;
  height: -1px;
  width: 0px;
  position: absolute;
  top: 105px;
  left: 65px;
}
@keyframes line {
  0% { height: 0px; }
  10% { height: 78px; }
  40% { height: 78px;
      /* transform: rotateX(0deg);  */
      /* transform-origin: 50% 0%;   */
  }
  50% { height: 0px; 
      /* transform: rotateX(180deg); */
      /* transform-origin: 50% 100%;  */
  }
  60% { height: 78px;
      /* transform-origin: 50% 100%;  */
  }
  90% { height: 78px;
      /* transform: rotateX(180deg); */
  
      /* transform-origin: 50% 100%;  */
   }
   90% { height: 0px;
      /* transform: rotateX(180deg); */
  
      /* transform-origin: 50% 100%;  */
   }
  100% { height: 0px;
      /* transform: rotateX(0deg); */
      /* transform-origin: 50% 0%;  */
  }
}