.storage-item {
  border-bottom: 1px solid #8d8d8d;
  padding: 4px;

  &:last-of-type {
    border-bottom: none;
  }

  &__summary {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    min-width: 96px;
    margin-left: 8px;
  }

  &__count {
    min-width: 64px;
  }

  &__percent {
    min-width: 64px;
  }

  &__btns {
    display: flex;
    align-items: center;
  }

  &__plus {
    cursor: pointer;
    display: flex;
    margin-left: 4px;
    color: #9c9c9c;
  }

  &__delete {
    background-color: #c72f21 !important;
    min-width: auto !important;
    padding: 4px !important;
    margin: 0 !important;
  }

  &__expansion {
    padding-right: 8px;
    border-right: 2px dashed #8d8d8d;
    margin-bottom: 8px;
  }

  &__expansion-item {
    display: flex;
  }

  &__expansion-icon {
    margin-right: 16px;
  }

  &__expansion-name {
    min-width: 128px;
    margin-left: 24px;
  }

  &__modal-btns {
    display: flex;
  }

  &__modal-delete {
    margin-left: 12px !important;
  }
}
