.storage {
  height: 100%;

  &__header {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #8d8d8d;
    color: #8d8d8d;
  }

  &__header-item {
    width: 50%;
    text-align: center;
    cursor: pointer;
    padding: 8px;
  }

  &__header-item--active {
    border-bottom: 4px solid #255957;
    color: #255957;
  }
}
